################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MeroBrikshaBackend/MeroBriksha/.vs/MeroBriksha
/MeroBrikshaBackend/MeroBriksha/MeroBriksha/bin/Debug/net9.0
/MeroBrikshaBackend/MeroBriksha/MeroBriksha/obj
/MeroBrikshaBackend/MeroBriksha/MeroBriksha.Core/bin/Debug/net9.0
/MeroBrikshaBackend/MeroBriksha/MeroBriksha.Core/obj
/MeroBrikshaBackend/MeroBriksha/MeroBriksha.Services/bin/Debug/net9.0
/MeroBrikshaBackend/MeroBriksha/MeroBriksha.Services/obj/Debug/net9.0
/MeroBrikshaBackend/MeroBriksha/MeroBriksha.Services/obj
