<mat-paginator [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
<table mat-table [dataSource]="dataSource" class="mat-shadow-2">

  @for (column of columns; track column.key)
  {

        <ng-container [matColumnDef]="column.key">

            <th mat-header-cell *matHeaderCellDef>
              {{ column.label }}
            </th>

            <td mat-cell *matCellDef="let row">

              @switch (column.type)
              {

                    @case (columnType.text)
                    {
                    {{ row[column.key] }}
                    }

                    @case (columnType.routerLink)
                    {
                      @for(link of column.config?.actions; track link.label)
                      {
                         <a [routerLink]="link.routerLink?.(row)"
                                    [class.disabled]="link.disabled?.(row)">
                                  {{ row[column.key] }}
                                </a>

                      }
                     
                    
                    }

                    @case (columnType.number)
                    {
                    {{ row[column.key] }}
                    }
                    @case (columnType.actions)
                    {

                        @for (action of column.config?.actions; track action.label)
                        {

                            @switch (action.type)
                            {

                                @case (actionType.link)
                                {
                                <a [routerLink]="action.routerLink?.(row)"
                                    [class.disabled]="action.disabled?.(row)">
                                  {{ action.label }}
                                </a>
                                }

                                @case (actionType.button)
                                {
                                <button mat-button
                                        [disabled]="action.disabled?.(row)"
                                        (click)="action.onClick?.(row)">
                                  {{ action.label }}
                                </button>
                                }
                            }
                        }
                    }
                }

            </td>


        </ng-container>

  }
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

